@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:wght@300;400;500&display=swap');

* {
    max-width: 640px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

.icon-wrapper {
    color: #051455be;
    background-color: transparent;
}

.btn-voltar {
    margin-right: 10px;
    text-align: left;
    font-size: 25px;
    pointer-events: none;
    cursor: pointer;
}

.btn-voltar .icon-wrapper {
    pointer-events: auto;
}

header h1 {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    color: #051455be;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}

.textCriar {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.profile-picture {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: center;
    display: inline-block;
}


.container-header {
    padding: 1rem;
    border-radius: 0 0 30px 30px;
    background-color: #ECF3FB;
}

/*------------------------------------------------------------------*/

.container-body {
    border-radius: 30px 30px;
    background-color: #ECF3FB;
    border-radius: 30px 30px 30px 30px ;
    height: 90vh;
    background-size: cover;
    overflow-y: auto;
    max-height: 70vh;
    margin-top: 20px;
}

.input-container {
    padding: 1rem;
    margin: 10px;
    margin-top: 2%;
    color: #051455be;
}

#inputDescricao, #inputNome, #inputData,#inputPerfil {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #6581FC;
    border-radius: 22px;
    padding: 7px;
    box-sizing: border-box;
}



#labelInput {
    margin-left: 5px;
    font-size: large;
}

#inputData{
    text-align: center;
}

.form-control {
    padding-left: 1rem;
    font-size: 20px;
    font-family: poppins;
    outline: none;
}


.container-footer {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}

.fa-regular.fa-circle-check {
    color: #6581FC;

}
.button-container {
    cursor: pointer;
}