@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:wght@300;400;500&display=swap');

/* CSS GRUPOS */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    height: 50vh; 
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px; 
  }
  
  .quadrado {
    width: 170px; 
    height: 170px; 
    background-color: #6581FC;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .imagem-sobreposta {
    width: 90px; 
    height: 90px; 
    border-radius: 15px;
    margin-bottom: 40px;
  }
  
  /* Estilos para o botão */
  .botao-titulo {
    background-color: #ffffff; 
    color: #415bcc;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px; 
    position: absolute; 
    bottom: 10px; 
  }

  
  .botao-criar-grupo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .botao-criar-grupo button {
    border-radius: 20px;
    background-color: white;
    color: #415bcc;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .botao-criar-grupo button:hover {
    background-color: blue;
    color: white;
  }

/* css menu grupos */

.profile-picture {
    margin-top: 20px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}

  body {
    margin: 0;
    padding: 0;
}

.menu-topo {
    background-color: white;
    border-radius: 0 0 20px 20px; 
    border-bottom: 1px solid #ccc; 
    padding: 10px 0 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 999; 
}

.menu {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    margin: 0 10px;
    cursor: pointer;
}


.h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
